.column {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.row {
  display: flex;
  flex-direction: row;
}
article {
  width: 40%;
  height: 15rem;
  padding: 0.5rem;
  margin: auto;
  border-radius: 1rem;
  transition: all 0.5rem;
  background-color: rgba(41, 40, 40, 1);
}
article:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 2rem #fff;
  cursor: pointer;
}
hr {
  padding: 0.5rem;
  border:none;
}
h2 {
  position: absolute;
  width: 55%;
  text-align: center;
  padding: 1rem;
  top: 1rem;
  margin: 0;
  padding: 0;
}
h4 {
  border: none;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 4rem;
}
.iyu{
  background-color: red ;
}
.iynu{
  background-color: goldenrod;
}
.niyu{
  background-color: #551818;
}

