<h2>Task Bull</h2>
<main class="column">

  <div class="row">
    <article class="iyu" (click)="navigate('important_urgent')">
      <h4>Important & Urgent</h4>
    </article>
    <hr>

    <article class="iynu" (click)="navigate('important_no_urgent')">
      <h4> Important & No Urgent</h4>
    </article>
  </div>
  <hr>
  <div class="row">
    <article class="niyu" (click)="navigate('no_important_urgent')">
      <h4>No important & Urgent</h4>
    </article>
    <hr>

    <article (click)="navigate('no_important_no_urgent')">
      <h4>No important & No Urgent </h4>
    </article>
  </div>
</main>
