/* You can add global styles to this file, and also import other style files */
:root{
  --background-color: rgb(22, 12, 12);
  --text-color: white;
}
*{
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--text-color);
  background-color: var(--background-color);
}
main{
  width: 100%;
}
nav{
  width: 90%;
  padding: 1rem;
}
siderbar{
  width: 20%;
  padding: 1.4rem;
  text-align: left;
}
li{
  width: 100%;
  list-style: none;
  text-align: left;
}
h2,h3,h4,h5,h6{
  width: 100%;
  font-size: 150%;
  border-bottom: 0.3rem solid red;
  transition: all 0.4s;
  text-align: left;
}
h2:hover,h3:hover,h4:hover,h5:hover,h6:hover{
  font-size: 180%;
  text-shadow: 1rem 1px 1rem;
}
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
